.menu {
  list-style: none;
  background-color:black;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

.menu li{
  float: left;
}

.menu li a {
  display: block;
  padding: 14px 14px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: Verdana;
  font-size: 18px;
}

.menu li a:hover:not(.active){
  background-color:#90b3d6;
}



p {
  font-family: Verdana;
  font-size: 21px;
  color:Black;
}

b{
  font-size: 20px;
  font-family: Verdana;
}

ol{
font-size: 21px;
font-family: Verdana;
}

h1{
  font-family: sans-serif;
  font-size: 27px;
  color: black;
}


*{
  margin: 0;
  padding: 0;
}

input{
  width: 205px;
  height: 35px;
  button: width:35px; height: 25px;
}

form{
  font-size: 18px;
  font-family: Verdana;
}

input{
  font-size: 18px;
  font-family: Verdana;
}

button {
  background-color: white;
  border: white;
  color: #90b3d6;
  padding: 24px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}




.footerStyle ul{
  list-style: none;
  background-color: #90b3d6;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

.footerStyle li{
  float:center;
}

.footerStyle li a{
  display: block;
  padding: 14px 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: Verdana;
  font-size: 18px;
}

.footerStyle li a:hover:not(.active){
  background-color:black
}
